{% block content %}
{% include 'base.html' %}
{% include 'base/header.html' %}
{% include 'base/navbar.html' %}
<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <div class="col-md-10 offset-md-2 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="card-title"> {{ data.first_name }}</h2>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-lg" form="user_create_form" style="font-size:17px;" type="submit">Update</button>
                        </div>
                    </div>
                    <hr>
                    <form class="form-sample" id="user_create_form" method="post">
                        {% csrf_token %}
                        <p class="card-description"> Personal info </p>
                        <div class="row">
                            <div class="col-md-6 p-2" >
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        {{ data.first_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Username</label>
                                    <div class="col-sm-9">
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">User Type</label>
                                    <div class="col-sm-9">
                                        {{ form.department }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p class="card-description"> Address </p>
                        <div class="row">
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">City</label>
                                    <div class="col-sm-9">
                                        {{ form.title_code }}
                                    </div>
                                </div>
                            </div>
                        
                        
                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        {{ form.department }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        {{ form.designation }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        {{ form.marital_status }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        {{ form.user_roles }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 p-2">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-9">
                                        {{ form.company }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}